In [2]:
import pandas as pd
import numpy as np
from numpy import random as rm

In [14]:
df=pd.DataFrame(rm.randint(250,size=(4,4)))
df

     0    1    2    3
0  166  212  188   17
1   40  167  119  143
2  137  201  173  220
3  121  131   15  132

In [9]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0             207              98             149               1
1             222             214              50             108
2             225             120             178              99
3              13             163             184             242

In [13]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean       166.750000      148.750000      140.250000      112.500000
std        102.801994       51.194889       62.077237       99.003367
min         13.000000       98.000000       50.000000        1.000000
25%        158.500000      114.500000      124.250000       74.500000
50%        214.500000      141.500000      163.500000      103.500000
75%        222.750000      175.750000      179.500000      141.500000
max        225.000000      214.000000      184.000000      242.000000

In [11]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [10]:
print(df.dtypes)

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

In [12]:
print(df.loc[0:3,'Random value 2':'Random value 3'])
print(df.iloc[0:4,1:3])

   Random value 2  Random value 3
0              98             149
1             214              50
2             120             178
3             163             184
   Random value 2  Random value 3
0              98             149
1             214              50
2             120             178
3             163             184